@import "../index.css";

.pokemonList {
  width: 40%;
  height: 100%;
  padding: 1.857rem;
  background-color: var(--color-blue-4);

  display: flex;
  flex-direction: column;
  text-align: center;
  border-right: 2px solid var(--color-yellow-1);
}

.list {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 600px;
  margin-top: 50px;
}

.pokemon {
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  margin-bottom: 10px;
}

.container {
  width: 85%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container2 {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  column-gap: 20px;
}

.bulletPoint {
  margin-left: 3.125rem;
  position: relative;
  width: 25px;
  height: 25px;
  background-color: var(--color-yellow-1);
  border-radius: 12.5px;
}

.bulletPoint::before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  width: 15px;
  height: 15px;
  background-color: var(--color-blue-4);
  border-radius: 7.5px;
}

.pokemonName {
  margin-left: 2rem;
  color: var(--color-yellow-1);
  text-transform: capitalize;
}

.pagination {
  display: flex;
  margin-top: 30px;
  justify-content: space-evenly;
}

@media screen and (max-width: 508px) {
  .pokemonList {
    width: 100%;
    height: fit-content;
    border-right: 0;
  }

  .pokemon {
    flex-direction: column;
    margin-top: 2rem;
  }

  .pokemonName {
    margin-left: 0;
  }

  .bulletPoint {
    margin-left: 0;
    align-self: self-start;
    margin-left: 2rem;
  }

  .container {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin-left: 6rem;
  }

  .container2 {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 901px) and (min-width: 509px) {
  .pokemonList {
    width: 100%;
    height: fit-content;
    border-right: 0;
  }
}

@media screen and (max-width: 1223px) and (min-width: 902px) {
  .pokemonList {
    height: fit-content;
    text-align: start;
  }

  .pokemon {
    flex-direction: column;
    margin-top: 2rem;
  }

  .pokemonName {
    margin-left: 0;
  }

  .bulletPoint {
    margin-left: 0;
    align-self: self-start;
    margin-left: 2rem;
  }

  .container {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    margin-left: 6rem;
  }

  .container2 {
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
}

@media screen and (max-width: 1519px) and (min-width: 1224px) {
  .pokemonList {
    height: fit-content;
    width: 50%;
  }
}
