@import "../index.css";

.pokemonDetails {
  width: 60%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  gap: 0.25rem;
}

.img {
  max-width: 96px;
}

.title {
  font-size: 3.2rem;
  margin-top: 30px;
  text-transform: capitalize;
}

.statsContainer {
  width: 50%;
  gap: 20px;
}

.statsContainer > li {
  font-size: 1.25rem;
}
