:root {
  font-family: "Courier New", Courier, monospace;
  line-height: 1.2;
  font-weight: 500;

  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-yellow-1: rgb(202, 208, 37);
  --color-blue-1: rgb(45, 101, 214);
  --color-blue-2: rgb(18, 38, 78);
  --color-blue-3: rgb(32, 44, 176);
  --color-blue-4: rgb(39, 80, 163);
}

body,
html {
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 100dvw;
  min-height: 100dvh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

ul {
  list-style-type: none;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
